

<div class="container">
  <% @todos.each do |todo| %>
  <h2>ToDo</h2>
  <div class="well"><%= todo.description %> <br> <%= todo.completed %></div>
  <%= link_to "Show ", todo, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Crear ", todos_new_path, class: 'btn btn-primary' %>

</div>
