<div class="row">
  <div class="col-md-6">
    <% @todos.each do |t| %>
      <% if t.completed == false %>
        <%= t.description%>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% @todos.each do |t| %>
      <% if t.completed == true %>
        <%= t.description%>
      <% end %>
    <% end %>
  </div>
 </div>
